.task-box {
    padding: 40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    color: #3f51b5;
    margin-bottom: 20px;
}

.task {
    display: flex;
    flex-direction: column;
}

.submit {
    display: inline;
}

.btn {
    float: right;
}