<div class="container">
    <header>
        <h1>Task Manager</h1>
        <div class="btn">
            <button mat-raised-button [routerLink]="'login'" [color]="active1" routerLinkActive="{{activated(1)}}"
                [routerLinkActiveOptions]="{exact:
true}">Login</button>
            <button mat-raised-button [routerLink]="'register'" [color]="active2"
                routerLinkActive="{{activated(2)}}">Register</button>
        </div>
        <div class="toggle-icon">
            <button mat-icon-button class="example-icon" (click)="toggle(istoggle)">
                <mat-icon>menu</mat-icon>
            </button>

        </div>


    </header>
    <div class="sidebar" [style.display]="display">
        <ul>
            <li [routerLink]="'login'" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}"><a routerLinkActive="active">Login</a></li>
            <li [routerLink]="'register'" routerLinkActive="active"><a routerLinkActive="active">Register</a></li>
        </ul>
        <!-- <button mat-raised-button [color]="active1" routerLink="login" (click)="activated(1)">Login</button>
        <button mat-raised-button [color]="active2" routerLink="register" (click)="activated(2)">Register</button> -->
    </div>
    <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="First">Content 1</mat-tab>
        <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
    </mat-tab-group> -->
    <section>
        <router-outlet></router-outlet>
    </section>
</div>