<div class="container">
    <form [formGroup]="user" class="register">
        <h1>Register Here</h1>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
        <button type="submit" (click)="userRegister()" mat-raised-button color="primary">Submit</button>
    </form>
</div>